

.banner{
    background: url('../../public/images/bg/bg-1280x650.png') no-repeat fixed center;
    background-size: 100% 100%;
}

.banner_box{
    background: rgba(0, 0, 0, .95);
    border-radius: 1rem;
    box-shadow: 15px 15px 15px #0e0d0d;
}