

.banner_box{
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .75);
    
    transition: .4s;
}

.banner_box:hover{
    background: rgba(0, 0, 0, .35);
    box-shadow: 0px 15px 15px #0e0d0d;
}

.img_carousel{
    height: 900px;
    width: 100%;
    background-color: blue;
}

@media screen and (max-width: 992px){
    .banner_box{
        height: auto;
    }
}

