.aside{
    width: 20vw;
    min-height: 100vh;
    margin-left: -20vw;
    transition: .5s;
    background-color: #292f44;
    color: #ccc;

    position: relative;
}

.aside--show{
    margin-left: 0;
}

.btn-arrow{
    color: black;
    cursor: pointer;
}

.btn-arrow:hover{
    color: #333;
}

.pi{
    color: #fff;
}

.icon-arrow{
    position: absolute;
    top: .5em;
    right: -5em;
    z-index: 99;
    transition: .5s;
}

.icon-arrow-in{
    right: .75em;
}

/*ASIDE HEADER*/

.header-aside{
    background-color: #1A1D29;
    background: linear-gradient(to bottom,#1A1D29,#292f44);
    border:1px solid green;
}

.header-aside .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: 100%;
    height: 8vh;
    margin: auto;
}

.header-aside .logo img{
    height: 100%;
}

/*ASIDE MAIN*/
.aside-top{
    text-align: left;
}

.list-aside{
    padding-left: 1rem;
}

.list-aside a{
    color: #fafafa;
    text-decoration: none;
    display: block;
    padding-top: .5rem;
}

.list-aside a:hover, aside input:hover{
    color: #292f44;
}

.logoutInput{
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 5rem;
    display: flex;
    align-items: center;
}

