@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');

:root{
  --clr-primary: #16c8e7;
  --clr-1:#d48e0c ;
  --clr-secondary: #ee5011;
  --fnt-title: bold 2.4em 'Raleway', sans-serif;
  --fnt-subtitle: normal 1.4em 'Montserrat', sans-serif;
  --fnt-text: normal 'Lato', sans-serif;

  --clr-hover1: #ee7511;
  --clr-hover: #095c58;
}

h2{
  color: var(--clr-primary);
  font: var(--fnt-title);
}

h1,h3{
  font: var(--fnt-subtitle);
}

.bg-grey{
  background-color: #e2e2e2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo img{
  border-radius: 50%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1em;
}

.App-link {
  color: #1adaca;
  transition: .5s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-site{
  padding: 2em;
  font-style: italic;
}

/* Classes utilities */

.links{
  text-decoration: none !important;
  color: var(--clr-primary) !important;
  font: var(--fnt-text) !important;
  transition: .3s !important;
}

.links:hover{
  color: var(--clr-hover) !important;
}

.nav-link {
  color: var(--clr-primary) !important;
  font: var(--fnt-text) !important;
  transition: .3s !important;
}

.btn_toggle{
  cursor: pointer;
  background-color: var(--clr-primary);
}

/* HEADER */
header{
  background-color: #000;
}

/* FOOTER */
footer{
  background-color: #000;
  padding: 1em;
  color: #ccc;
}
.footer-left{
  padding: 1em;
}

.footer-center{
  padding: 1em;
}

.footer-right{
  padding: 1em;
}

/* LOGIN PAGE */

.login-container{
  min-height: 100vh;
  background-color: #000;
}

.login-form{
  min-width: 100%;
  min-height: calc(100vh - 40vmin);

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form form{
  min-width: 75%;
  padding: 1em;
  color: #ccc;

}

.form-control{
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control input{
  width: 100%;
  padding: .75em 0;
  padding-left: 1em;
  margin-bottom: 1em;
  color: #000;
  border-radius: .5em;
  border: none;
  outline: none;
}

.form-control-btn input{
  padding: .75em 4em;
  border: none;
  border-radius: .5em;
  background-color: #056d8a;
  cursor: pointer;
}

/* MEDIA QUERY */

@media screen and (max-width:768px){
  .App-logo{
    margin: 1em 0;
  }
  .App-text{
    padding: 1em 0;
  }
}

@media screen and (max-width:450px){
  html{
    font-size: .85em;
  }
  .App-logo{
    margin: 3em 0;
  }
}