.Title_Section{
    padding-top: 3em;
    padding-bottom: 1em;
    margin-bottom: 3em;
    border-bottom: 1px solid var(--clr-primary);
}

.Title_Section h2{
    margin-bottom: .5em;
}

.Title_box{
    width: 100%;
    text-align: start;
    padding-top: 3em;
    padding-bottom: 1em;
}

.Title_box h1,
.Title_box h2{
    display: flex;
    margin: 0;
}